<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>
        后台管理系统
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="./css/x-admin.css" media="all">
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
             <a><cite>首页</cite></a> <a><cite>用户管理</cite></a> <a><cite>用户列表</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<!--
<img src="static/images/a1.jpg" width="300px" height="300px">-->

<div class="x-body">
    <form class="layui-form x-center" action="/member-list" style="width:70%" id="myform">

        <div class="layui-form-pane" style="margin-top: -16px;">
            <div class="layui-form-item" style="margin-bottom: 6px">
                <label class="layui-form-label" style="width:60px;margin-left: 200px">查询条件</label>
                <div class="layui-input-inline" style="width:150px">
                    <select id="condition" name="condition">
                        <option value="">请选择查询条件</option>
                        <option value="角色">角色</option>
                        <option value="用户名">用户名</option>

                    </select>
                </div>
                <div class="layui-input-inline" style="width:150px">
                    <input type="text" name="conValue" id="conValue" th:value="${vv}" placeholder="请输入查询条件" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn"  onclick="search()">
            <img src="./img/cx.png" style="width: 20px;height: 20px">查询</button>
        </div>
        </div>
    </form>
    <xblock><button class="layui-btn"  style="background: #ff961d" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="banner_add('添加栏目','./cate-add','1180','770')"><i class="layui-icon"></i>添加</button>
        <input type="file"  id="excelInput" accept=".xlsx,.xlsb,.xlsm,.xls,.xml" class="layui-btn" onclick="chaneAction()" style="text-decoration:none"\>
        <button type="button" id="export-table" class="layui-btn" onclick="exportAction()" style="text-decoration:none"><img src="./img/daochu.png" style="width: 20px;height: 20px">导出到excel</button> <span class="x-right" style="line-height:40px">共有数据：<span class="layui-badge" style="background: #ff961d" th:text="${info.total}">0</span> 条</span></xblock>
    <table class="layui-table" id="out-table">
        <thead>
        <tr>shiyou
            <th>
                <input type="checkbox" name="" value="1">
            </th>
            <th> 编号 </th>
            <th> 用户名 </th>
            <th> 邮箱 </th>
            <th> 角色 </th>
            <th> 操作 </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="i:${info.list}">
            <td>
                <input type="checkbox" value="1" name="">
            </td>
            <td th:text="${i.userId}"> 1 </td>
            <td th:text="${i.userName}"> 张三</td>
            <td th:text="${i.email}"> 133333 </td>
            <td th:text="${i.js}"> 总统 </td>

            <td class="td-manage">
                <a title="编辑" href="javascript:;" onclick="update(this)"
                   class="ml-5" style="text-decoration:none">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" href="javascript:;" onclick="data_del(this,'1')"
                   style="text-decoration:none">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="page">
        <a id="pre" class="layui-btn" th:href="@{/member-list(page=${info.pre})}">上一页</a>
        <a id="next" class="layui-btn" th:href="@{/member-list(page=${info.next})}">下一页</a>
        <span class="x-right" style="line-height:40px;margin-left: 100px">共有：<span class="layui-badge" style="background: #ff961d" th:text="${info.totalPage}">0</span> 页</span>
        <span class="x-right" style="line-height:40px">当前页：第<span class="layui-badge" style="background: #ff961d" th:text="${info.cur}">0</span> 页</span>

    </div>
</div>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script src="./js/x-layui.js" charset="utf-8"></script>
<script src="./js/file.js"></script>
<script src="./js/excel.js"></script>
<script src="./js/index1.js"></script>
<script>
    layui.use(['laypage','element','layer','form'], function(){
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        // layer = layui.layer;//弹出层
        // form = layui.form();
    })

    //查询验证
    function search() {
        //获取用户输入的查询条件
        var v=$("#conValue").val();
        //获取选择的查询
        var con=$("#condition").val();
        //判断用户选择的查询条件是什么

            //用js做表单提交
            document.getElementsByName("myform").submit();

    }

    //批量删除提交
    function delAll () {
        layer.confirm('确认要删除吗？',function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }

    //打开修改页面方法
    function update(obj) {
        //获取当前选中行得userId值
        var id=$(obj).parent().parent().find("td").eq(1).text();
        //打开弹窗
        x_admin_show("修改","/member-edit?userId="+id,500,500)
    }

    /*-删除*/
    function data_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }

    /*添加*/
    function banner_add(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    function adds(title,url,id,w,h){

        url=url+"?id="+id;
        x_admin_show(title,url,w,h);
    }
</script>




</body>
</html>